extends layout

block content
 body
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link href="/background.css" rel="stylesheet">
  h3(style="margin-left:60px;") Our Story
  div(style="text-align:center;")
  .container
    .rows.pages
      .col-sm-14
       h5(style="text-align:left;").
        Looking back on our previous gym experience, we realized how difficult it was to start going to the gym.
       p.
        Between all of the different machines, exercises, crossfit, cardio machines, and dumbbells, it was intimidating to start.
        We then realized that this is most likely something that keeps people from getting healthier with regular exercise.
        We also realized that people like meeting people interested in the same thing they are and often look up to those more seasoned.
       br
       h5(style="text-align:left;").
        From there, GymBud was born.
       p.
        GymBud allows both new and seasoned gym-goers an opportunity to meet one another and helps foster a learning environment in the gym.
        GymBuds can also chat with their own skill level and meet up with each other at the gym.  This is a great way to give back to your fellow UCLA students
        as well as potentially meet some lifelong friends.  So come on in and <a href='/signup'>join today!</a>

  