<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
    <link href="/background.css" rel="stylesheet">
 
    <div class="container">
        <div class="page-header">
            <h1>
                About Us
				<br>
				<small>
					Looking back on our previous gym experience, 
					we realized how difficult it was to start going to the gym.
				</small>
            </h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Our Story</div>
            <div class="panel-body">
			
                <p>
				Between all of the different machines, exercises, crossfit, 
				cardio machines, and dumbbells, it was intimidating to start. 
				We then realized that this is most likely something that keeps 
				people from getting healthier with regular exercise. We also 
				realized that people like meeting people interested in the same 
				thing they are and often look up to those more seasoned.
				</p>
				
				<p>
				From there, GymBud was born.
				</p>
				
				<p>
				GymBud allows both new and seasoned gym-goers an opportunity 
				to meet one another and helps foster a learning environment in 
				the gym. GymBuds can also chat with their own skill level and 
				meet up with each other at the gym.  This is a great way to give 
				back to your fellow UCLA students as well as potentially meet 
				some lifelong friends.  So come on in and <a href='/signup'>join 
				today!</a>
				</p>
				
				<h2 style="text-align:center;">
					<a href="/team_page"><strong>Meet the Team</strong></a>
				</h2>
				
            </div>
        </div>
 
        <hr>
 
        <% include footer %>
    </div>
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
