extends layout

block content
 body
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link href="/background.css" rel="stylesheet">
  div
   h1 Contact Us

   p Do you have questions or comments on Gym Bud?  Ask them here!

  div
   input(type="button", value="contact", onClick="parent-location=':mailto:rjwgibbs@gmail.com?Subject=Gym%20Bud%20Customer%20Service&CC=hendricksbenjamin@gmail.com'")
