extends layout

block content
 body
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <link href="/background.css" rel="stylesheet">
  div(style="text-align:center;")
   h5.
    At GymBud, we strive to provide you with the best way to find and meet gym mentors and fellow gym-goers.
   h5.
    If you have any technical problems, comments on the site, or suggestions, please don't hesitate to contact us.
   br
   h1
    a(href="mailto:rjwgibbs@gmail.com?Subject=Gym%20Bud%20Customer%20Service&CC=hendricksbenjamin@gmail.com") <strong> CONTACT US! </strong>

  
