<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <div class="container">
        <div class="page-header">
        </div>
		<div style="text-align:center;">
			<h5>At GymBud, we strive to provide you with the best way to find and meet gym mentors and fellow gym-goers.</h5>
			<h5>If you have any technical problems, comments on the site, or suggestions, please don't hesitate to contact us.</h5><br/>
			<h1><a href="mailto:rjwgibbs@gmail.com?Subject=Gym%20Bud%20Customer%20Service&amp;CC=hendricksbenjamin@gmail.com"><strong> CONTACT US! </strong></a></h1>
		</div>
        <hr>
 
        <% include footer %>
    </div>
    <!-- /container -->
	
    <script type="text/javascript">
        $(document).ready(function() {
            $('#contact').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
