<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title><%= title %></title>
	
	<link rel='stylesheet' href='/css/stylesheet.css' />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
 
 
	<!-- Begin Added by GymBud -->
	
	<link href="/header-style.css" rel="stylesheet">
	<meta name="description" content="GymBudUcla is a meetup site for gymgoers: from experienced to novice! The novice person can get cheap training from the pros, while the pros get paid to work out!">
    <meta name="robots" content="index, follow">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-50565406-1', 'gymbuducla.com');
      ga('send', 'pageview');
    </script>

	<!-- The following is from the original index.jade file. -->
    <a href="/"><img src="/GymBudLogo.png" style="display:block; margin-left:auto; margin-right:auto;" alt="GymBud"/></a>

	<!-- The following is from the original index.jade, about.jade, login.jade, contact.jade, signup.jade, and signup2.jade files. -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
	
    <link href="/style.css" rel="stylesheet">
	
	<!-- End Added by GymBud -->
	
 
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="../../assets/js/html5shiv.js"></script>
		<script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>
