extends layout

block content
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  h1= title
  p
    | Welcome to #{title}
    br
    | We are still building up, but for now you can make a profile, upload a profile picture and link us with facebook! From there we will start matching you with possible gym goers. 
