extends layout

block content
 body
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link href="/background.css" rel="stylesheet">
  h1(style="text-align:center;")
    img(src="pics/GymBudLogo.png" alt="GymBud")
  div
  .container
   .row.pages
     .col-sm-13
      div
        h3 GymBud: How does it work?
        p.
          GymBud UCLA is designed for two types of UCLA students: the gym enthusiasts and the aspiring/new gym users. 
          We have created a database that connects these two types of students to create a mentorship program that is 
          beneficial to each party. Following an extensive screening process, 
          we have chosen the most qualified student, gym enthusiasts to become GymBud Trainers, 
          who have the gym experience and expert fitness knowledge to mentor a New Gym User. 
          GymBud will assist in matching up the Trainers and New Gym Users based on their shared workout interests, goals and compatibility. 
          We have made it easy for our users to get in contact with their new GymBud through our online chat system, where GymBuds are able to exchange information 
          and set up their personal workout experience. Our trainers are offering up their gym expertise 
          at an extremely affordable rate and a substantially lower cost than professional, 
          personal trainers which is why this service ideal for college students. 
        br
        p.
          GymBud is the perfect opportunity for you to meet current or new gym enthusiasts. 
          It is the platform that will take your workout to the next level 
          or be the necessary channel to share your gym expertise with fellow Bruins. 
        br
        p.
          Since we are a new company, our site is still under maintenance. 
          We encourage you to make a profile, detailing your background/interests, 
          and check out other users on our site.
      .col-sm-20
      div
        h2(style="text-align:center;")
          a(href='/signup') <strong>SIGN UP NOW</strong>
      .col-sm-20
      div
        h6(style="text-align:center;") or 
          a(href='/login') login here.

    


