<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar%>
 
    <!--
    <link href='/image.css' rel='stylesheet'>
    <div class="carousel slide carousel-fade" id="myCarousel">
            <div class="carousel-inner">
              <div class="item">
                <img alt="" src="/wooden.jpg">
              </div>
              <div class="item active">
                <img alat="" src="/ucla.jpg">
              </div>
            </div>
            <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
            <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
          </div>
	  -->
          
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!--
    <div class="jumbotron">
		<h1 id="welcome">Welcome to GymBud</h1>
		<br/>
		<div class="col-xs-6">
			<p>
				<a class="btn btn-primary btn-lg" role="button" href="/signup">Signup &raquo;</a>
			</p>
		</div>
		<div class="col-xs-6">
			<p>
				<a class="btn btn-primary btn-lg" role="button" href="/login">Login &raquo;</a>
			</p>
		</div>
		<br/>
    </div>
    -->
    <div class="col-xl-6">
      <p>
        <a class="btn btn-primary btn-xl" role="button" href="/auth/facebook" style="position:absolute; right: 0;bottom:0;"> Login with Facebook </a>
      </p>
    </div>
 
 <!--
    <style type="text/css">
 	#map-canvas { height: 50%; width: 100%; }
    </style>
    <div id="map-canvas" style="margin: 0 auto;"></div>
    -->

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAElbKleGQ_ucrGrHsRNJiR2SMGtDGsV2U&sensor=FALSE">
    </script>
    <script type="text/javascript">
      var map;

      function initialize() {
        var mapOptions = {
	  center: new google.maps.LatLng(34.06908392, -118.43581748),
	  zoom: 14
	};
	map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

	var geoTags = [<%- geotags %>];
	var eventlist = [<%- events %>];
	for(var i = 0; i< geoTags.length; i++) {
	  attachGeoMarker( geoTags[i] );
	}

	for(var i = 0; i < eventlist.length; i++) {
	  attachEventMarker( eventlist[i]);
	}
      }

      function attachGeoMarker(data) {
        var tmp_lat_long = new google.maps.LatLng(data.latitude, data.longitude);
	var marker;
	marker = new google.maps.Marker({
	  map: map,
	  position: tmp_lat_long, 
	  title: 'Check In'
	});
      }

      function attachEventMarker(data) {
        var geocoder = new google.maps.Geocoder();
	var marker;
	var icon = "";
	switch(data.type) {
	  case "Weightlifting":
	    icon = "images/weightlifting.png";
	    break;
	  case "Aerobics":
	    icon = "images/aerobics.png";
	    break;
	  case "Swimming":
	    icon = "images/swimming.png";
	    break;
	  case "Crossfit":
	    icon = "images/crossfit.png";
	    break;
	  case "Yoga":
	    icon = "images/yoga.png";
	    break;
	  case "Cycling" : 
	    icon = "images/cycling.png";
	    break;
	  case "Interval Training":
	    icon = "images/intervaltraining.png";
	    break;
	  default: 
	    icon = "images/users.png";
	    break;
	}

	geocoder.geocode({"address" : data.place}, function(results, status) {
	  if(status = google.maps.GeocoderStatus.OK) {
	    marker = new google.maps.Marker({ 
	      map: map, 
	      position: results[0].geometry.location,
	      title: "Event",
	      icon: icon
	    });
	  } else {
	    alert("An event was not able to be placed on the map. We will fix this promptly");
	  }
	});
	 

      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <!--
    <div class="container">
		<div class="row">
			<h1>How does it work?</h1>
			<div class="col-md-4">
				<h2>Origination</h2>
				<p>GymBud is designed for two types of students: the gym enthusiasts and the aspiring/new gym users. 
					We have created a database that connects these two types of students to create a mentorship program that is 
					beneficial to each party. Following an extensive screening process, 
					we have chosen the most qualified student, gym enthusiasts to become GymBud Trainers, 
					who have the gym experience and expert fitness knowledge to mentor a New Gym User. 
					GymBud will assist in matching up the Trainers and New Gym Users based on their shared workout interests, goals and compatibility. 
					We have made it easy for our users to get in contact with their new GymBud through our online chat system, where GymBuds are able to exchange information 
					and set up their personal workout experience. Our trainers are offering up their gym expertise 
					at an extremely affordable rate and a substantially lower cost than professional, 
					personal trainers which is why this service ideal for college students.</p>
			</div>
			<div class="col-md-4">
				<h2>Hey there, Bruins</h2>
				<p>GymBud is the perfect opportunity for you to meet current or new gym enthusiasts. 
					It is the platform that will take your workout to the next level 
					or be the necessary channel to share your gym expertise with fellow Bruins.</p>
			</div>
			<div class="col-md-4">
				<h2>We're new too. Join us!</h2>
				<p>Since we are a new company, our site is still under maintenance. 
					We encourage you to make a profile, detailing your background/interests, 
					and check out other users on our site.</p>
			</div>
		</div>
        <hr>
		<% include footer %>
    </div>
    -->
	
    <script type="text/javascript">
        $(document).ready(function() {
            $('#home').addClass("active");
        });
    </script>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js">
	</script>
</body>
</html>
