doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/header-style.css')
    <meta name="description" content="GymBudUcla is a meetup site for gymgoers: from experienced to novice! The novice person can get cheap training from the pros, while the pros get paid to work out!">
    <meta name="robots" content="index, follow">
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-50565406-1', 'gymbuducla.com');
      ga('send', 'pageview');
  body
      #user
      if user
        div#navigation 
             a(href='/chat') Home
             a(href='/about') About Us
             a(href='/userlist') Meet Users
             a(href='/contact') Contact Us
             a(href='/logout') Logout
      else
        div#navigation
           a(href='/') Home
           a(href='/about') About Us
           a(href='/contact') Contact Us
           a(href='/login') Login
       .block
         br
         br 
         br
    block content
