<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <div class="container">
        <div class="page-header">
            <h1>
                <span class="fa fa-mail-reply"></span>  Finish Signup
				<br/>
				<small style="color: #ffffff; opacity: 0.9">Please check your ucla email for a verification link. Thanks!</small>
            </h1>
        </div>
		<div class="col-sm-6 col-sm-offset-3">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						Having problems? Send us a quick email with the subject [Email Not Received].
						<br/>
						<div style="text-align: center;">
							<a href="mailto:gymbudco@gmail.com?Subject=[Email%20Not%20Received]">
							<strong> Send us an email.</strong>
							</a>
						</div>
					</div>
				</div>
			</div>
        </div>
		<div class="clearfix visible-sm visible-md visible-lg"></div>
		<hr/>
        <% include footer %>
    </div>
    <!-- /container -->
	
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
