<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
	
    <div class="container">
        <div class="page-header">
			<h1>
				Hello, fellow GymBuds.
			</h1>
        </div>
		
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
				<h2>Meet the Team</h2>
				    <div class="col-md-4">
						<div class="team_member">
							<h3>
								Benjamin
							</h3>
							<span class="title">Developer</span>
							<br>
							<br>
							<img class="headshot" src="images/benjaminhendricks.png" alt="Benjamin"/>
						</div>
						<br>
						<p></p>
						<br/>
						<div class="team_member">
							<h3>
								Colton
							</h3>
							<span class="title">Marketing</span>
							<br>
							<br>
							<img class="headshot" src="images/cat-businessman.jpg" alt="Colton"/>
						</div>
						<br>
						<p></p>
						<br/>
					</div>
				    <div class="col-md-4">
						<div class="team_member">
							<h3>
								Jenna
							</h3>
							<span class="title">Marketing</span>
							<br>
							<br>
							<img class="headshot" src="images/cat-businessman.jpg" alt="Jenna"/>
						</div>
						<br>
						<p></p>
						<br/>
						<div class="team_member">
							<h3>
								Aaron
							</h3>
							<span class="title">Marketing</span>
							<br>
							<br>
							<img class="headshot" src="images/cat-businessman.jpg" alt="Aaron"/>
						</div>
						<br>
						<p></p>
						<br/>
					</div>
				    <div class="col-md-4">
						<div class="team_member">
							<h3>
								Riley
							</h3>
							<span class="title">Developer</span>
							<br>
							<br>
							<img class="headshot" src="images/cat-businessman.jpg" alt="Riley"/>
						</div>
						<br>
						<p></p>
						<br/>
						<div class="team_member">
							<h3>
								Louise
							</h3>
							<span class="title">Developer</span>
							<br>
							<br>
							<img class="headshot" src="images/louiselehman.png" alt="Louise"/>
						</div>
						<br>
						<p></p>
						<br/>
					</div>
				<hr/>
            </div>
        </div>
 
        <hr>
 
        <% include footer %>
    </div>
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>