<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <div class="container">
        <div class="page-header">
			<h1>
				Hello, fellow GymBuds.
			</h1>
        </div>
		
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
				<h2>Meet the Team</h2>
						<h3>
							Benjamin
						</h3>
						<img src="images/cat-businessman.jpg" alt="name" height="200px" width="200px"/>
						<p>About</p>
						<br/>
						<h3>
							Colton
						</h3>
						<img src="images/cat-businessman.jpg" alt="name" height="200px" width="200px"/>
						<p>About</p>
						<br/>
						<h3>
							Jenna
						</h3>
						<img src="images/cat-businessman.jpg" alt="name" height="200px" width="200px"/>
						<p>About</p>
						<br/>
						<h3>
							Aaron
						</h3>
						<img src="images/cat-businessman.jpg" alt="name" height="200px" width="200px"/>
						<p>About</p>
						<br/>
						<h3>
							Riley
						</h3>
						<img src="images/cat-businessman.jpg" alt="name" height="200px" width="200px"/>
						<p>About</p>
						<br/>
				<hr/>
            </div>
        </div>
 
        <hr>
 
        <% include footer %>
    </div>
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>