extends layout

block content
 body
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/background.css">
  h3(style="margin-left:60px;") Meet the Team
  div(style="text-align:center;")
  .container
    .rows.pages
      .col-sm-14
       h5(style="text-align:left;").
        Benjamin Hendricks
       img(src='images/cat-businessman.jpg', alt='name', height='200px', width='200px')
       p.
        About
       br
       h5(style="text-align:left;").
        Colton
       img(src='images/cat-businessman.jpg', alt='name', height='200px', width='200px')
       p.
        About
       br
       h5(style="text-align:left;").
        Jenna
       img(src='images/cat-businessman.jpg', alt='name', height='200px', width='200px')
       p.
        About
       br
       h5(style="text-align:left;").
        Aaron
       img(src='images/cat-businessman.jpg', alt='name', height='200px', width='200px')
       p.
        About
       br
       h5(style="text-align:left;").
        Riley
       img(src='images/cat-businessman.jpg', alt='name', height='200px', width='200px')
       p.
        About
       br