<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <div class="container">
        <div class="page-header">
            <h1>
                List of Users, check out their profiles!
            </h1>
        </div>
        <div class="panel panel-default">
			<!-- each user, i in userlist -->
				<% if (user.local.name) { %>
					<div class="row">
						<div class="col-sm-6">
							<div class="well">
								<a href="/profile/<%=user.local.email%>"><%= user.local.name %></a>
							</div>
						</div>
					</div>
				<% } %>
        </div>

        <% include footer %>
    </div>
    <!-- /container -->
	
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
