<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
     <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
      <!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


<div class="ui-widget">
  <label for="search">Search for a user: </label>
  <form id="formSearchUsers" method='post' action="searchUser" enctype="multipart/form-data">
  <input id="search" name="search">
  <button id="searchSubmit" type="submit"> Go To </button>
  </form>
</div>
    <div class="container">
        <div class="page-header">
            <h1>
                List of Users, check out their profiles!
            </h1>
        </div>
        

        <div class="well">

            <% for (var i = 0; i < userlist.length; i++) { %>
				<% if (userlist[i].local.name) { %>
					<div class="row">
						<div class="col-xs-6 col-md-4">
						</div>
						<div class="col-xs-6 col-md-4">
							<div class="panel panel-default">
								<div class="panel-body" style="text-align: center;">
									<a href="/profile/<%=userlist[i].local.email%>"><%= userlist[i].local.name %></a>
								</div>
							</div>
						</div>
					</div>
				<% } %>
            <% } %>
		</div>
        </div>

		<hr/>
        <% include footer %>
    </div>
    <!-- /container -->
	
    <script type="text/javascript">
        $(document).ready(function() {
            $('#userlist').addClass("active");
        });
    </script>
    
    <script>
      $(function () {

      var $searchBox = $("#search");
      $searchBox.autocomplete({
          source: function (request, response) {
             $.ajax({
                url: "/search_user",
                type: "GET",
                data: request,  // request is the value of search input
                success: function (data) {
                  // Map response values to fiedl label and value
                   response($.map(data, function (el) {
                       console.log(el);
                      return {
                         label: el.local.name,
                         value: el.local.email
                      };
                      }));
                   }
                });
             },
             
             // The minimum number of characters a user must type before a search is performed.
             minLength: 3, 
             
             // set an onFocus event to show the result on input field when result is focused
             focus: function (event, ui) { 
                this.value = ui.item.label; 
                // Prevent other event from not being execute
                event.preventDefault();
             },
             select: function (event, ui) {
                // Prevent value from being put in the input:
                this.value = ui.item.label;
                // Set the id to the next input hidden field
                $(this).next("input").val(ui.item.value); 
                // Prevent other event from not being execute            
                event.preventDefault();
                // optionnal: submit the form after field has been filled up
                $('#quicksearch').submit();
             }
      });

        });

    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
