a {
  /*color: #00B7FF;*/
  color:blue;
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  text-align: center;
  padding-top: 15px;

  -webkit-box-shadow:0 0 8px 0 #000000;
  -moz-box-shadow: 0 0 8px 0 #000000;
  box-shadow: 0 0 8px 0 #000000;

  background-color: #536895;
  color: #536895;
}

#navigation a {
   font-size: 14px;
   font-family: sans-serif;
   padding-left: 15px;
   padding-right: 15px;
   color: #FFFBF3;
   text-decoration: none;
}

#navigation a:hover {
   color: #9C9995;
}
