a {
  /*color: #00B7FF;*/
  color:blue;
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #536895;
  height: 35px;
  text-align: center;
  padding-top: 15px;

  -webkit-box-shadow:0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;

  background-color: #536895;
  color: #536895;
}

#navigation a {
   font-size: 14px;
   padding-left: 15px;
   padding-right: 15px;
   color: #FFF3DA;
   text-decoration: none;
}

#navigation a:hover {
   color: #ABA392;
}
