/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/barbell-w.png');
 /* background-repeat: no-repeat;
 */
  background-size: 100% 100%;
}

ul {
  list-style: none;
}

.loginbutton {
  
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 80%;
}

.inputMessage {
  font-size: 80%;
}

.log {
  color: gray;
  font-size: 80%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 5px solid #000;
  bottom: 0;
  height: 30px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

/* new_design added */

.title {
	text-align: center;
}

.headshot {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.jumbotron {
	background-image: url('images/weights.JPG');
	background-position: center;
	background-size: 100%;
	opacity: 0.7;
	/*background-color: #ffffff;*/
}

.jumbotron p {
	text-align: center;
}

#welcome {
	color: #3276b1;
	/*text-shadow: 0.03em 0.03em 0.15em #ffffff;*/
	text-shadow: -0.03em 0 0.15em #ffffff, 0 0.03em 0.15em #ffffff, 0.03em 0 0.15em #ffffff, 0 -0.03em 0.15em #ffffff;
	/*-1px 0 #565656, 0 1px #565656, 1px 0 #565656, 0 -1px #565656;*/
}

h2 {
	text-align: center;
}

.well {
	background-color: white;
	opacity: 0.95; 
	-moz-opacity: 0.95; 
	-webkit-opacity: 0.95;
}

.panel {
	background-color: white;
	opacity: 0.9;
}

#about_header {
	text-align: center;
}

.contact {
	text-align: center;
}

#signup2 {
	opacity: 1;
}

.profile_picture img {
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.team_member {
	text-align: center;
	opacity: 0.8;
}
